version: "3.9"

services:
  backend:
    image: lsingodiya/mern-backend:${IMAGE_TAG}
    container_name: backend
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env
    restart: always

  frontend:
    image: lsingodiya/mern-frontend:${IMAGE_TAG}
    container_name: frontend
    ports:
      - "80:3000"
    depends_on:
      - backend
    restart: always
